/* Display journal entry items vertically */

body {
    background-color: lightgray;
}

.heading {
    margin: 20px auto 20px auto;
    width: 50%;
    text-align: center;
}

.journal {
    margin: auto;
    width: 50%;
}

.journal__fields {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    border: 3px solid red;
    background-color: whitesmoke;
}

.journal__fields label {
    font-size: 20px;
}

.journal__body {
    font-family: Arial, Helvetica, sans-serif;
}

.journal__fields select, .journal__fields button {
    height: 40px;
    width: 140px;
    margin: 10px 5px;
    font-size: 12pt;
}

.moodFilter__Container {
    width: 50%;
    margin: 20px auto;
    border: 3px solid red;
    background-color: whitesmoke;
    font-size: 14pt;
}

.entries {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 30px;
}

.entry {
    width: 30%;
    border: 3px solid red;
    border-radius: 10px;
    padding: 15px;
    background-color: whitesmoke;
    margin: 20px 0 0 0;
    text-align: center;
}

.entry__topic {
    font-size: 24pt;
}

.entry__date {
    font-size: 16pt;
}

.entry__mood {
    font-size: 16pt;
}

.deleteButton, .editButton {
    height: 40px;
    margin: 10px;
    width: 25%;
    font-size: 12pt;
}


